/* Inserta tu código aqui */
.borde{
	border: 1px solid black;
	width: 80px
}
.box {
	margin: 15px;
}
img {
	opacity: 0.7;
}
.caja {
	position: relative;
	display: inline-block;
	margin: 5px;
}
span {
	position: absolute;
	bottom:15px;
	right: 10px;
	color: white;
}


